* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
}

/* Header and Navigation */
header {
    background-color: white;
    color: #140909;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: sans-serif;
    font-weight: bolder;
}

nav ul li a:hover {
    color: #34b679;
    font-weight: bold;
    border-radius: 3px;
}

.logo {
    padding-bottom: 20px;
}
.logo h3 {
    font-size: 30px;
}
.logo h3 span {
    color: #34b679;
}

.sign a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    padding-top: 20px;
    padding-left: 22px;
}
.sign {
    background: linear-gradient(130deg, #34b679, #19e977);
    width: 120px;
    height: 25px;
    border-radius: 8px;
    padding-bottom: 40px;
}
main {
    position: relative;
}
.gallery-home h1{
    font-size: 100px;
    padding-left: 400px;
    color: black;
}

.gallery-home { 
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.685);
    width: 100%;
    border-radius: 20px;
    background: #26cc70;
    position: absolute;
    top: 100px;
}
.gallery-page {
    padding: 0 5px;
    position: absolute;
    top: 300px;
}
.gallery-page .gallery-topic h1 {
    color: #140909;
}
.gallery-page .gallery-topic {
    padding-left: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
}
 .home-cont {
    display: flex;
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;

}

.home-cont > img {
    width: 100%;
    /*vertical-align: middle;*/
    padding: 4px;
    border-radius: 18px;
}
footer {
    background-color: black;
    color: rgb(255, 254, 254);
    padding: 3rem 0 1rem;
    position: absolute;
    top: 2900px;
    width: 100%;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section h3 {
    margin-bottom: 1rem;
}

.social-icons a {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #3498db;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 5px solid rgba(27, 180, 86, 0.1);
}



